@model IEnumerable<TaskSolution.Models.tarefa>

@{
    ViewBag.Title = "Gerenciar Tarefas";
}

@section cards{
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url(/Images/bg01.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-primary opacity-8"></span>
        <!-- Header container -->
    </div>
}

<div class="col-xl order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0 text-uppercase">
                        Gerenciar Tarefas
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a href="/Tarefa/Cadastrar" class="btn btn-sm btn-outline-default"><i class="fa fa-plus"></i> Cadastrar Tarefa</a><br /><br />

            <table class="table">
                <tr>
                    <th>Tarefa</th>
                    <th>Categoria</th>
                    <th>Usuário</th>
                    <th>Horas Gastas / Estimadas</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.categoria.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.usuario.nome_completo)</td>
                        <td>@Html.DisplayFor(modelItem => item.horas_realizadas)h / @Html.DisplayFor(modelItem => item.horas_estimadas)h</td>
                        <td>@Html.DisplayFor(modelItem => item.estado)</td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "btn btn-sm btn-outline-default" }) |

                            @using (Html.BeginForm("Excluir", "Tarefa", new { Id = item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-outline-default">Excluir</button>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
